<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744665062099-vjp17fj9tfd22l564g4pelq93dvkeqlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744665062099-vjp17fj9tfd22l564g4pelq93dvkeqlp</string>
	<key>API_KEY</key>
	<string>AIzaSyADOQgS39yL7-PwHzXMnyuQjn-99aQbEwU</string>
	<key>GCM_SENDER_ID</key>
	<string>744665062099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elize.univ.team</string>
	<key>PROJECT_ID</key>
	<string>amigo-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>amigo-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744665062099:ios:55bb6cfe3b23ee2c5ed226</string>
	<key>DATABASE_URL</key>
	<string>https://amigo-messenger.firebaseio.com</string>
</dict>
</plist>